body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

h2 {
    color: #4a90e2;
}

/* Layout */
.input-feilds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    padding: 10px;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #4a90e2;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #0b3b76;
    font-weight: bold;
}

/* Generated Resume Styling */
.resume{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #4a90e2;
}

.resume h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.section:last-child {
    border-bottom: none;
}

p {
    line-height: 1.5;
}
